* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 46px;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#main {

}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    height: var(--header-height);
    z-index: 1; /* cho nó nổi lên hẳn trên slider*/
}

#nav {
    display: inline-block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li {
    display: inline-block;
    position: relative;
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.4);
}

#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 12px;
    display: block;
    min-width: 150px;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: var(--header-height);
    display: inline-block;
}

#nav .nav-see-more {
    font-size: 12px;
}

#nav li a {
    text-decoration: none;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    /* cursor: pointer; Đặt ở đây cũng ok */ 
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .nav-search {
    font-size: 16px;
    color: #fff;
    line-height: var(--header-height)
}   

#slider {
    position: relative;
    margin-top: var(--header-height); 
    /* Vì header đang có position là fixed nên nó đè lên slider. 
    Chỉnh margin của slider bằng chiều cao của header */

    padding-top: 50%; /* 50% chiều ngang */
    background: url('/assets/img/slider/slider1.png') top center/cover no-repeat;
}

#slider .text-content {
    color: #fff;
    position: absolute;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 25px;
}

#slider .text-description {
    font-size: 16px;
}

#content {
}

#footer {
 
    
}