* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 46px;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clear {
    clear: both; 
    /* xử lý ở chỗ ba bức ảnh member, 
    có một thẻ div ở sau các bức ảnh */
}

.text-white {
    color: #fff !important;
}  

.row {
}

.col {
    float: left;
    padding: 8px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

#main {

}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    height: var(--header-height);
    z-index: 1; /* cho nó nổi lên hẳn trên slider*/
}

#nav {
    display: inline-block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li {
    display: inline-block;
    position: relative;
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.4);
}

#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 12px;
    display: block;
    min-width: 150px;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: var(--header-height);
    display: inline-block;
}

#nav .nav-see-more {
    font-size: 12px;
}

#nav li a {
    text-decoration: none;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    /* cursor: pointer; Đặt ở đây cũng ok */ 
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .nav-search {
    font-size: 16px;
    color: #fff;
    line-height: var(--header-height)
}   

#slider {
    position: relative;
    margin-top: var(--header-height); 
    /* Vì header đang có position là fixed nên nó đè lên slider. 
    Chỉnh margin của slider bằng chiều cao của header */

    padding-top: 50%; /* 50% chiều ngang */
    background: url('/assets/img/slider/slider1.png') top center/cover no-repeat;
}

#slider .text-content {
    color: #fff;
    position: absolute;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 25px;
}

#slider .text-description {
    font-size: 16px;
}

#content {
}

#content .content-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .content-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#content .content-slogan {
    font-size: 16px;
    font-style: italic;
    margin: 36px 0 30px;
    text-align: center
}

#content .about {
    margin-top: 32px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-item {
    float: left;
    width: 20%;
    text-align: center;
}

#content .band-member {
    margin-top: 46px;
}

#content .member-name {
    margin-bottom: 20px;
    font-size: 20px;
}

#content .member-image {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#content .tour-info {
    background-color: #000;
}

#content .tour-info .content-slogan {
    opacity: 0.4;
}

#content .tour-info li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 16px;
    background-color: #fff;
}

#content .tour-info .sold-out {
    margin-left: 20px;
    background-color: #f44336;
    color: #fff;
    padding: 4px 5px;
}

#content .tour-info .number-of-tickets {
    float: right;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: -5px;
}

#content .places-list {
    margin: 32px -8px 0;
}

#content .places-list .place-item {
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
}

#content .places-list .place-content {
    background-color: #fff;
    padding: 16px;
}

#content .places-list .place-img {
    width: 100%;
    display: block;
}

#content .places-list .place-img:hover {
    opacity: 0.4;
}

#content .places-list .place-name {
    font-weight: 520;
}

#content .places-list .place-date {
    margin: 15px 0;
    opacity: 0.4;
}

#content .places-list .place-desc {
    margin-bottom: 15px;
}

#content .places-list .place-buy-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block
}

#content .places-list .place-buy-btn:hover {
    background-color: #ccc;
    color: #000;    
}

#content i[class*="ti-"] {
    width: 25px;
    display: inline-block;
}

#content .contact-info .info {
    line-height: 1.6;
    font-size: 18px;
}

#content .form-content {
    padding: 8px; 
    border: 1px solid rgba(0, 0, 0 , 0.4);
    margin: 4px;
    font-size: 16px;  
    width: 100%;
}

#content .form-send-btn {
    float: right;
    margin: 8px 3px 8px 12px;
    background-color: #000;
    color: #fff;
    padding: 12px;
    border: 1px solid #000;
}

#content .form-send-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


#content .photo-footer {
    width: 100%;
}

#footer { 
    padding: 64px 0;
    text-align: center;
    opacity: 0.6;
}

#footer a {
    color: #000;
}

#footer .social-media-icons a {
    text-decoration: none;
    font-size: 24px;
    padding: 0 5px;
}

#footer .social-media-icons a:hover {
    opacity: 0.3;
}

#footer .copyright {
    margin-top: 20px;
}

